.breadcrumb{
margin: 1rem 0;
border-radius: 3%;
padding: 1.5rem;
flex-direction: row;
    align-items: center;
}

.breadcrumb .h2{
    font-size: 1.250rem;
}

.margin-move-right{
    margin: 0 .5rem;
}

@media (min-width: 1500px) {
    .breadcrumb .h2{
        font-size: 1.5rem;
    }
}