.btn{
    border: solid 2px #ECEFF6;
    padding: 8px;
    font-size: .8rem;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}


.btn-3{
    width: 3rem !important;
}

a:link,
a:visited,
a.btn.btn-basic:link,
a.btn.btn-basic:visited{
    color: var(--primary);
    text-decoration: none;

}
a.btn.btn-basic:hover{
    text-decoration: underline;
}
a.btn.btn-basic.active{
    font-weight: bold;
}