.card {
    background-color: white;
    padding: 1.5rem;
    border-radius: 3%;
    max-height: min-content;
    flex: 0;
    margin: .6rem 0;
    width: 25rem;
    max-width: 25rem;
}

.card .card-header{
    flex-direction: row;
    justify-content: space-between;
}
.card .card-header .title{
    color: var(--primary-darker);
    font-weight: 900;
    font-size: 1.2rem;
}

.card .card-header .btn-vertical{
    display: block;
    background-image: url("../icons/ellipsis-v-solid.svg");
    background-repeat: no-repeat;
    background-position: center;
    width: 1.1rem;
    height: 1rem;
    align-self: center;
    opacity: .85;
}