:root{
    --primary : #5A45AA;
}

:root{
    --secondary : #ffffff;
}

:root{
    --tertiary : rgba(189, 189, 190, 1);
   /* --tertiary : #BDBDBE; */
   /* --tertiary : #eceff6;*/
}

:root{
    --tertiary-light : rgba(189, 189, 190, .6);
}

:root{
    --quaternary: #fb7445;
}
/*:root{
    -- : ;
}*/

:root{
    --violet : #5A45AA;
}

.bg-primary{
    background-color: var(--primary);
    color: var(--secondary);
}
.bg-white{
    background-color: var(--secondary);
    color: var(--primary);
}


.text-secondary{
    background-color: inherit;
    color: var(--secondary);
}

.text-primary{
    background-color: inherit;
    color: var(--primary);
}
.text-tertiary{
    background-color: inherit;
    color: var(--tertiary);
}
.text-quaternary{
    background-color: inherit;
    color: var(--quaternary);
}