:root{
    --primary-lighter : rgba(202, 201, 218, 1);
}
:root{
    --primary : #5A46AA;
}
:root{
    --primary-darker : #58548E;
}

:root{
    --white : #ffffff;
}

:root{
    --tertiary: #EDEFF6;
   /*--tertiary: #e9e8eb;*/
    /*--tertiary : rgba(189, 189, 190, 1);
   /* --tertiary : #BDBDBE; */
   /* --tertiary : #eceff6;*/
}

:root{
    /*--tertiary-darker : rgba(134, 134, 136, 1);*/
    --tertiary-darker : #626264;
}

:root{
    --tertiary-light : #f5f7fa;
    /*--tertiary-light : rgba(189, 189, 190, .6);*/
}

:root{
    --quaternary: #FB6D3A;
}
/*:root{
    -- : ;
}*/

:root{
    --violet : #5A45AA;
}

.bg-primary{
    background-color: var(--primary);
    color: var(--white);
}
.bg-white{
    background-color: var(--white);
    color: var(--primary);
}


.bg-quaternary{
    background-color: var(--quaternary);
    color: var(--white);
}

.text-white{
    background-color: inherit;
    color: var(--white);
}

.text-primary{
    background-color: inherit;
    color: var(--primary);
}
.text-tertiary{
    background-color: inherit;
    color: var(--tertiary);
}
.text-quaternary{
    background-color: inherit;
    color: var(--quaternary);
}