

.bg-violet{
    background-color: #5A45AA;
    color: #ffffff;
}
.bg-white{
    background-color: #ffffff;
    color: #5A45AA;
}


.text-white{
    background-color: inherit;
    color: #ffffff;
}
.text-violet{
    background-color: inherit;
    color: #5A45AA;
}
.text-orange{
    background-color: inherit;
    color: #fb7445;
}