.jauge {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-align: left;
    padding: 0 1rem;

}

.jauge > div {
    text-align: center;
}

#mydoughnut {
    width: 75px
    /*height: 50px;*/
}

.jauge .myChart,
.jauge .mydoughnut,
.jauge .mybars {
display: none;
}


.jauge .header {
    font-weight: bolder;
    font-size: 1rem;
}

.jauge .number {
    font-weight: bolder;
    font-size: 1.2rem;
}


@media (min-width: 1200px) {

    .jauge > div {
        text-align: left;
    }

    .jauge .myChart ,
    .jauge .mydoughnut ,
    .jauge .mybars  {
        width: 20%;
        align-content: flex-end;
        display: flex;
        align-items: flex-end;
        padding: 0;
    }
}